body{
    font-family: 'Ubuntu', sans-serif;
}
#title{background-color: #ff4c68;
color: #fff;
padding-bottom: 8%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height:1.5;
} 

h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    line-height:1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
    font-size: x-large;
    
    
}
p{
    color: gray;
}
.container-fluid{
     padding: 2% 5%;
    
}
.navbar{
    padding-bottom:  4.5rem;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    left: 0px;

}
.nav-item{
    padding-left: 20px;
    margin-left: auto;
    
}
.nav-link{
    font-size: 1.2rem;
}
.navbar-toggler{
    margin-left: 100%;
    padding: 0;
}
.btn{
    margin: 5% 3% 2% 0;
}
.titleimg{
    width: 20%;
    transform: rotate(25deg);
    margin-top: 2%;
    margin-right:15% ;
    margin-left: 10%;
    position: absolute;
    z-index: 1;
    
}
#features{
    padding: 7% 15% ;
    position: relative;
    background-color: #fff;
    z-index: 2;
}
.feature-box{
    text-align: center;
    padding: 3%;
}
.fa-solid{
    color: #ff4c68;
}
.heart:hover{
    color: #b806c5;
}
.right:hover{
    color: green;
}
.eye:hover{
    color: #770617;
}
#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 3%;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 5%;}
.press-logo{
    width:15% ;
    margin: 20px 20px 50px;
}
 
#pricing{
    margin-top: 30px;
    text-align: center;
} 
.sign{
    width: 100%;

} 
.pricing-col{
    padding: 100px;
    
}
@media (max-width:993px) {
    .titleimg{
        position:static;
        width: 40%;
        margin-top: 5%;
        /* margin-left: 20%; */
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
#cta{
    background-color: #ff4c68;
    text-align: center;
}
.foot{
    font-size: 60px;
    width: 60%;
    text-align: center;
    margin-left: 20%;
}
#footer{
    text-align: center;
}
.social-icon{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
}